/target/
/log/
/.settings/
/.classpath
/.factorypath
/.project
/.checkstyle
/.pmd
/.ruleset
/.eclipse-pmd
/bin
# Grok Build generierte Agent-Tools
/agent-tools
# local properties files for api-tokens: they will be encrypted, but no need to check-in.
/application.properties
